<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(persons){ %>
        <li>
            <a href="/edit/<%= persons._id %>">
              <%= persons.nome %>
            </a>
            &nbsp; &nbsp;
            <a href="/remove/<%= persons._id %>"
              onclick="return confirm('Tem certeza que deseja excluir?');">
              -excluir-
            </a>
        </li>
      <% }) %>
    </ul>  
    <hr/>
    <a href="/new ">Cadastrar novo cliente</a>
  </body>
</html>
