<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>Nome:&nbsp;<input type="text" name="nome" value="<%= doc.nome %>" /></p>
      <p>Data:&nbsp;<input type="date" name="data" value="<%= doc.data %>" /></p>
      <p>Descrição:&nbsp;<input type="text" name="descricao" value="<%= doc.descricao %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>